系统模块/Platform.opensdf
*.sdf
*.suo
*.idb
系统模块/服务器组件/模块管理/Debug_Unicode/*
系统模块/服务器组件/协调服务器/Debug_Unicode/*
系统模块/服务器组件/游戏服务/Debug_Unicode/*
系统模块/公共组件/服务核心/Debug_Unicode/*
系统模块/公共组件/进程控制/Debug_Unicode/*
系统模块/客户端组件/界面控件/Debug_Unicode/*
系统模块/客户端组件/平台数据/Debug_Unicode/*
系统模块/客户端组件/视频组件/Debug_Unicode/*
系统模块/客户端组件/图像控件/Debug_Unicode/*
系统模块/客户端组件/下载组件/Debug_Unicode/*
系统模块/客户端组件/形象组件/Debug_Unicode/*
系统模块/客户端组件/用户服务/Debug_Unicode/*
系统模块/客户端组件/游戏广场/Debug_Unicode/*
系统模块/客户端组件/游戏控件/Debug_Unicode/*
系统模块/客户端组件/游戏框架/Debug_Unicode/*
系统模块/客户端组件/游戏道具/Debug_Unicode/*
系统模块/服务器组件/登录服务器/Debug_Unicode/*
系统模块/服务器组件/游戏服务器/Debug_Unicode/*
系统模块/服务器组件/比赛服务/Debug_Unicode/*
运行/Debug/*
系统模块/ipch/*
系统模块/Backup/*
系统模块/链接库/*
系统模块/链接库/unicode/*
系统模块/服务器组件/登录服务器/Debug/*
系统模块/服务器组件/比赛服务/Debug/*
